<template>
  <main>
    <h1>Hi!</h1>
    <h2>My name is Yevhen Saklakov.</h2>
    <p>
      I am a frontend software engineer for {{ getExperience() }}. Proficient at creating Single Page Applications.
      More details at <a href="https://linkedin.com/in/yevsa" target="_blank">LinkedIn</a>.
      Have interest in open source. It inspired me to write Google Chrome
      <a href="https://github.com/yevsa/CustomTitle" target="_blank">extension</a>.
    </p>
  </main>
</template>

<script>
  import { DateTime } from 'luxon';

  export default {
    name: "WelcomePage",
    methods: {
      getExperience() {
        let { years, months } = DateTime.now().diff(DateTime.fromISO('2018-09-08'), ['years', 'months']).toObject()
        years = Math.floor(years);
        months = Math.floor(months);
        return `${years} year${years > 1 ? 's' : ''}`;
      }
    }
  }
</script>

<style scoped>
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
  
    padding: 23vh 6vw 8vh;
    width: 80vw;
    max-width: 650px;
  }
  
  h1 {
    font-weight: bold;
    font-size: 2.6rem;
    margin-bottom: 4vh;
  }
  
  h2 {
    margin-bottom: 4vh;
  }
</style>
