<template>
  <WelcomePage/>
</template>

<script>
  import WelcomePage from './components/pages/WelcomePage.vue';
  
  export default {
    components: { WelcomePage }
  };
</script>

<style>
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
    font-weight: bold;
  }
  
  html, body, #app {
    width: 100vw;
    height: 100vh;
  }
  
  #app {
    display: flex;
  }
  
  html {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
  }
  
  body {
    background-color: #dedede;
    display: flex;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  p {
    text-align: justify;
  }
</style>
